::ng-deep .mat-dialog-container{
  padding: 0px !important;
}
.pantallas{
  padding: 4%;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .error {
    color: red;
  }
  
  table {
    width: 100%;
  }
  .pantallas {
    height: 400px;
    overflow-y: scroll;
  }
  .leyenda{
    padding: 2%;
  }
  