.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
   
  }
  .error{
    color: red;
  }

  .body{
    padding: 0 24px 24px 24px;
  }

h2 {
    margin: 0 !important;
    padding: 18px 24px 18px 24px;
    background-color: #1D85BF;
    color: #fff;
  }